<!DOCTYPE html>
<html>
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Biblioteca virtual</title>

    <meta name="keywords" content="Livros, aluguel" />
    <meta name="description" content="Plataforma de assinatura de livros físicos">
    <meta name="author" content="Natan Chaves">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Header -->
    <link rel="stylesheet" href="~/assets/css/header/header.css">
    <link rel="stylesheet" href="~/assets/css/body/body.css">
</head>
<body>
    <div class="body">





        <div role="main">

            <div class="container">


                @RenderBody()


            </div>
        </div>

        @Html.Partial("_PartialFooter")

        
    </div>


</body>
</html>
