<header class="head">
    <div id="logoHeader">
        <span>
            Logo
        </span>
    </div>
    <div id="menu">
        <ul>
            <li class="linkWhite">Home</li>
            <li class="linkWhite">Quem somos</li>
            <li class="linkWhite"> Quem somos</li>
            <li class="linkWhite">Contato</li>
        </ul>
    </div>
    <div id="user">
        <button id="btnAssine">
            Anunciar livro
        </button>
        <button id="btnLogin">
            <i class="fas fa-user" style="font-size: 20px;"></i>
            Acessar
        </button>
        <fb:login-button scope="public_profile,email"
                         onlogin="isLogado();">
        </fb:login-button>

    </div>
</header>

