<center class="m-t-20 bg-info">
    <br />
    <span class="font-montserrat font-weight-light text-light" style="font-size: 10px;"> Desenvolvido com <i class="fa fa-heart text-danger"></i> por Natan Inácio Chaves</span>
</center>