@model RentBooks.DTO.ListBooksDTO

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="first">
    @Html.Partial("_PartialHeader")

    <div id="containerTitleSite">
        <h1 id="titleSite">
            Aqui tem o que você procura.
        </h1>
        <div id="searchPrincipal">
            <input title="teste" type="search" />
            <button>Search</button>

        </div>
    </div>
    <div id="menuSecundario">
        <ul id="linksMenuSecundario">
            <li>Literatura </li>
            <li>Ficção</li>
            <li> Biografias</li>
            <li>Infantil</li>
            <li>Autoajuda</li>
            <li>História</li>
        </ul>
    </div>


</div>
<div id="ttlSection">
    <h2>Destaques</h2>
</div>
<section id="containerContentFirt">

    @foreach (var book in Model.books)
    {
        <div class="cardBook">
            <div id="imgProd">
                <div id="favorite">
                    <i class="fas fa-heart" style="font-size: 48px;"></i>
                </div>
                <div id="bookCover">
                    <img src="~/assets/img/books/@book.IDBook-.jpg" />
                </div>
            </div>
            <div id="ttlBook">
                <div id="priceBook">
                    <h3>R$99,99</h3>
                </div>
                <div id="shipping">
                    <h5>Frete grátis</h5>
                </div>
            </div>
            <div id="review">
                <img src="~/assets/img/icons/star.png" />
                <img src="~/assets/img/icons/star.png" />
                <img src="~/assets/img/icons/star.png" />
                <img src="~/assets/img/icons/star.png" />
                <img src="~/assets/img/icons/star.png" />
            </div>
            <div id="btnCta">
                <button id="btnRent"> Alugue</button>
                <button id="hadBook"> Tenho este livro</button>
            </div>
        </div>

    }

        <div class="cardBook">
            <div id="imgProd">
                <div id="favorite">
                    <i class="fas fa-heart" style="font-size: 48px;"></i>
                </div>
                <div id="bookCover">
                    <img src="~/assets/img/books/1-.jpg" />
                </div>
            </div>
            <div id="ttlBook">
                <div id="priceBook">
                    <h3>R$99,99</h3>
                </div>
                <div id="shipping">
                    <h5>Frete grátis</h5>
                </div>
            </div>
            <div id="review">
                <img src="~/assets/img/icons/star.png" />
                <img src="~/assets/img/icons/star.png" />
                <img src="~/assets/img/icons/star.png" />
                <img src="~/assets/img/icons/star.png" />
                <img src="~/assets/img/icons/star.png" />
            </div>
            <div id="btnCta">
                <button id="btnRent"> Alugue</button>
                <button id="hadBook"> Tenho este livro</button>
            </div>
        </div>


    <div class="cardBook">
        <div id="imgProd">
            <div id="favorite">
                <i class="fas fa-heart" style="font-size: 48px;"></i>
            </div>
            <div id="bookCover">
                <img src="~/assets/img/books/1-.jpg" />
            </div>
        </div>
        <div id="ttlBook">
            <div id="priceBook">
                <h3>R$99,99</h3>
            </div>
            <div id="shipping">
                <h5>Frete grátis</h5>
            </div>
        </div>
        <div id="review">
            <img src="~/assets/img/icons/star.png" />
            <img src="~/assets/img/icons/star.png" />
            <img src="~/assets/img/icons/star.png" />
            <img src="~/assets/img/icons/star.png" />
            <img src="~/assets/img/icons/star.png" />
        </div>
        <div id="btnCta">
            <button id="btnRent"> Alugue</button>
            <button id="hadBook"> Tenho este livro</button>
        </div>
    </div>

    <div class="cardBook">
        <div id="imgProd">
            <div id="favorite">
                <i class="fas fa-heart" style="font-size: 48px;"></i>
            </div>
            <div id="bookCover">
                <img src="~/assets/img/books/1-.jpg" />
            </div>
        </div>
        <div id="ttlBook">
            <div id="priceBook">
                <h3>R$99,99</h3>
            </div>
            <div id="shipping">
                <h5>Frete grátis</h5>
            </div>
        </div>
        <div id="review">
            <img src="~/assets/img/icons/star.png" />
            <img src="~/assets/img/icons/star.png" />
            <img src="~/assets/img/icons/star.png" />
            <img src="~/assets/img/icons/star.png" />
            <img src="~/assets/img/icons/star.png" />
        </div>
        <div id="btnCta">
            <button id="btnRent"> Alugue</button>
            <button id="hadBook"> Tenho este livro</button>
        </div>
    </div>

</section>

<section id="slide">

</section>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '147017937509008',
            cookie: true,
            xfbml: true,
            version: 'v11.0'
        });

        FB.AppEvents.logPageView();

        FB.Event.subscribe('auth.authResponseChange', function (response) {
            if (response.status === 'connected') {
                console.log("logado.");
            } else if (response.status === 'not_authorized') {
                console.log("não logado.");
            }
        })
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));


    function isLogado() {
        console.log("logado.");
        updateUI();
    }

    function updateUI() {
        FB.api('/me', function (response) {
            console.log(response.name);
        });
    }
</script>